/// Search result wrapper
div#pse-results-overlay {
  
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  cursor: pointer;
  
  /// Page results wrapper
  article#pse-results-article {
    
    position: relative;
    overflow: auto;
    font-size: var(--pse-results-overlay-font-size);
    color: var(--pse-results-overlay-color);
    background-color: var(--pse-results-overlay-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 90vw;
    height: 90vh;
    left: 5vw;
    top: 5vh;
    
    @media (min-width: 769px) {
      width: 60vw;
      left: 20vw;
    }
    
    & > * { padding: 0; margin: 0; }

    /// Page results header
    header#pse-results-header {
      
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 1rem;
      color: var(--pse-results-overlay-header-color);
            
      #pse-results-title {
        
        padding: 0;
        margin: 0;
        font-weight: var(--pse-results-overlay-header-font-weight);
        font-size: var(--pse-results-overlay-header-font-size);
        font-weight: var(--pse-results-overlay-header-font-weight);
        font-style: var(--pse-results-overlay-header-font-styl);
        
        #pse-results-search-terms {
          
          color: var(--pse-results-overlay-header-terms-color);
          font-size: var(--pse-results-overlay-header-terms-font-size);
          font-weight: var(--pse-results-overlay-header-terms-font-weight);
          font-style: var(--pse-results-overlay-header-terms-font-style);
          
        } // #pse-result-search-terms
        
      } // #pse-result-title
      
    } // header#pse-result-header
    
    /// Page results item section
    section#pse-results-items {
      padding: 0;
      margin: 0;
      flex-grow: 2;
      
      /// Page results list
      ul#pse-results-item-list {
        
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
        padding: 0;
        margin: 0 1rem;
        
        

        /// Page results list item
        li.pse-result-item {
          
          padding: 0;
          margin: 0;
          
          ///Result content wrapper
          article.pse-result-item-article {
            
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 0.5rem;
            padding: 0;
            margin: 0;            
            
            /// Result header
            header.pse-result-item-header {
            
              padding: 0;
              margin: 0;
              
              /// Result title
              a.pse-result-item-title {

                color: var(--pse-results-overlay-item-title-color);
                text-decoration: var(--pse-results-overlay-item-title-text-decoration);
                font-size: var(--pse-results-overlay-item-title-font-size);
                font-weight: var(--pse-results-overlay-item-title-font-weight);
                font-style: var(--pse-results-overlay-item-title-font-style);
                
                &:hover { 
                  
                  color: var(--pse-results-overlay-item-title-hover-color);
                  text-decoration: var(--pse-results-overlay-item-title-hover-text-decoration);
                  
                }
                
              } // a.pse-item-title
              
            } // header.pse-result-item-header
            
            /// Result body
            section.pse-result-item-body {
            
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-content: flex-start;
              gap: 1rem;
              
              @media (min-width: 576px) {
                
                flex-direction: row;
                
              }
              
              p.pse-result-item-snippet {
                
                flex-grow: 1;
                color: var(--pse-results-overlay-item-snippet-color);
                font-size: var(--pse-results-overlay-item-snippet-font-size);
                font-weight: var(--pse-results-overlay-item-snippet-font-weight);
                font-style: var(--pse-results-overlay-item-snippet-font-style);
                
              } // p.pse-snippet
              
              a.pse-result-item-thumbnail {
                
              } // a.pse-thumbnail
              
            } // section.pse-result-item-body
            
          } // article.pse-result-item-article
          
        } // li.pse-result-item
        
      } // ul#pse-result-item-list
      
    } // section#pse-result-items
    
    footer#pse-results-footer {
      
      margin: 1rem;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "previous . next";
      place-items: center;
      
      a {
        
        background: transparent;
        color: var(--pse-results-overlay-link-color);
        text-decoration: var(--pse-results-overlay-link-text-decoration);
        
        &:hover { 
          
          color: var(--pse-results-overlay-link-hover-color);
          text-decoration: var(--pse-results-overlay-link-hover-text-decoration);
          
        } // &:hover 
        
        &#pse-results-previous-page {
          
          grid-area: previous;
          align-self: start;
          
        } // &#pse-result-previous-page
        
        &#pse-results-next-page {
          
          grid-area: next;
          align-self: end;
          
        } // &#pse-result-next-page
        
      } // a
      
    } // footer#pse-result-footer
    
  } // article#pse-result-article
  
} // div#pse-result-overlay
