div#pse-search-bar {
  
  position: relative;
  min-width: 1em;
  
  // The input
  input#pse-input {
    
    height: var(--pse-search-bar-input-height);
    transition: width var(--pse-search-bar-input-transition-duration) var(--pse-search-bar-input-transition-timing-function);
    width: var(--pse-search-bar-input-width);
    color: var(--pse-search-bar-input-color);
    border-style: var(--pse-search-bar-input-border-style);
    border-radius: var(--pse-search-bar-input-border-radius);
    border-color: var(--pse-search-bar-input-border-color);
    border-width: var(--pse-search-bar-input-border-width);
    padding: var(--pse-search-bar-input-padding-y) var(--pse-search-bar-input-padding-x);
    
    outline-offset: -2px;
    -webkit-appearance: textfield;

          
    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration { 
      
      -webkit-appearance: none; 
      
    }
    
    &::placeholder { color: var(--pse-search-bar-input-placeholder-color); }
          
  } // input#pse-input
  
  
  // The button that toggles collapse state
  button#pse-button {
    
    background: transparent;
    border: none;
    color: var(--pse-search-bar-icon-color);
    padding: var(--pse-search-bar-icon-padding-y) var(--pse-search-bar-icon-padding-x);
    margin: 0;
    z-index: 2;
    
    &[aria-expanded=true] { 
      
      position: absolute;
      right: 0.25em;
      top: 0.125em;
      color: black;
    
    } // &.expanded
    
    
    /*!
     * Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com
     * License - https://fontawesome.com/license (Commercial License)
     */
    .svg-inline--fa {
      display: inline-block;
      font-size: inherit;
      height: 1em;
      overflow: visible;
      align-self: baseline;
      vertical-align: baseline;
      fill: var(--pse-search-bar-icon-color);
      
      &.fa-secondary { opacity: 0.4; }
    }
    
  } // button#pse-button

} // div#pse-search-bar