@import "variables";


// The div wrapping the input and button
div#pse-search-bar {
  
  position: relative;
  min-width: 1em;
  height: var(--pse-bar-height);
  // background-color: green;
  
  // The collapsing container that holds the input
  div#pse-collapsible {
      
    &:not(.show) { 
      
      display: none; 
    
    } // &:not(.show)
    
    &.expanding {
      
      width: var(--pse-input-width);
      height: var(--pse-bar-height);
      transition: var(--pse-bar-transition);
      
    } // &.expanding
    
    &.collapsing {
      
      width: 0;
      height: var(--pse-bar-height);
      transition: var(--pse-bar-transition);
      
    } // &.collapsing
    
    // The input
    input#pse-input {
      
      width: var(--pse-input-width);
      color: var(--pse-bar-text-color);
      border-style: var(--pse-border-style);
      border-radius: var(--pse-border-radius);
      border-color: var(--pse-border-color);
      border-width: var(--pse-border-width);
      //padding: var(--pse-bar-padding-y) var(--pse-bar-padding-x);
      margin: 0 inherit;
      outline-offset: -2px;
      -webkit-appearance: textfield;
  
            
      &::-webkit-search-decoration {
        -webkit-appearance: none;
      }
      
      &::placeholder { 
        
        color: var(--pse-placeholder-color); 
      
      } // &::placeholder
            
    } // input#pse-input
    
  } // div##{$collapsible-id}
  
  // The button that toggles collapse state
  button#pse-button {
    
    background: transparent;
    border: none;
    color: var(--pse-icon-color);
    padding: var(--pse-icon-padding-y) 
             var(--pse-icon-padding-x);
    margin: 0;
    z-index: 2;
    
    &.expanded { 
      
      position: absolute;
      right: 0.5em;
      top: 0.25em;
      color: black;
    
    } // &.expanded
    
  } // button#pse-button

} // div##{$bar-id}

div#pse-result-overlay {
  
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  cursor: pointer;
  
  article#pse-result-article {
    
    position: relative;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;
    width: 90vw;
    height: 90vh;
    left: 5vw;
    top: 5vh;
    font-size: var(--pse-results-font-size);
    color: var(--pse-results-color);
    
    header#pse-result-header {
      
      display: flex;
      justify-content: center;
      margin: 1rem;
      color: var(--pse-header-color);
      
      #pse-result-title {
        
        font-size: var(--pse-header-font-size);
        font-weight: var(--pse-header-font-weight);
        
        #pse-result-start-index,
        #pse-result-end-index,
        #pse-result-total {
          
          font-weight: var(--pse-ndex-font-weight);
          font-style: var(--pse-index-font-style);
          color: var(--pse-index-color);
          
        } // #pse-result-start-index…
                
        #pse-result-search-terms {
          
          color: var(--pse-terms-color);
          font-weight: var(--pse-terms-font-weight);
          font-style: var(--pse-terms-font-style);
          
        } // #pse-result-search-terms
        
      } // #pse-result-title
      
    } // header##{$header-id}
    
    section#pse-result-items {
      
      flex-grow: 2;
      
      ul#pse-result-item-list {
        
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        margin: 1rem;        

        li.pse-list-item {
          
          display: grid;
          grid-template-rows: auto 1fr;
          grid-template-columns: max-content 1fr;
          grid-template-areas: "title title" "thumbnail snippet";  
          gap: 0.5rem 1rem;       
          
          a.pse-item-title {
            
            grid-area: title;
            color: var(--pse-title-color);
            font-weight: var(--pse-title-font-weight);
            font-style: var(--pse-title-font-style);
            
          } // a.pse-item-title
          
          p.pse-snippet {
            
            grid-area: snippet;
            color: var(--pse-snippet-color);
            font-weight: var(--pse-snippet-font-weight);
            font-style: var(--pse-snippet-font-style);
            
          } // p.pse-snippet
          
          a.pse-thumbnail {
            
            grid-area: thumbnail;
            img { }
            
          } // a.#{$thumbnail}
          
        } // li.#{$list-item}
        
      } // ul##{$list-id}
      
    } // section##{$items-id}
    
    footer#pse-result-footer {
      
      margin: 1rem;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "previous . next";
      place-items: center;
      padding-bottom: 2rem;
      
      button {
        
        background: transparent;
        color: var(--pse-nav-color);
        
        &:hover, &:active { 
          
          color: var(--pse-nav-hover-color); 
          
        } // &:hover, &:active 
        
        &#pse-result-previous-page {
          
          grid-area: previous;
          align-self: start;
          
        } // &#pse-result-previous-page
        
        &#pse-result-next-page {
          
          grid-area: next;
          align-self: end;
          
        } // &#pse-result-next-page
        
      } // button
      
    } // footer##{$footer-id}
    
  } // article##{$article-id}
  
} // div##{$overlay-id}

/*!
 * Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  align-self: baseline;
  vertical-align: baseline;
  fill: $icon-color;
  
  &.fa-secondary { opacity: 0.4; }
}