/// Search Bar Values
$search-bar-input-height: {{ .Scratch.Get "SearchBar.Input.Height" }};
$search-bar-input-width: {{ .Scratch.Get "SearchBar.Input.Width" }};
$search-bar-input-color: {{ .Scratch.Get "SearchBar.Input.Color" }};
$search-bar-input-placeholder-color: {{ .Scratch.Get "SearchBar.Input.Placeholder.Color" }};
$search-bar-input-transition-duration: {{ .Scratch.Get "SearchBar.Input.Transition.Duration" }};
$search-bar-input-transition-timing-function: {{ .Scratch.Get "SearchBar.Input.Transition.TimingFunction" }};
$search-bar-input-padding-y: {{ .Scratch.Get "SearchBar.Input.Padding.Y" }};
$search-bar-input-padding-x: {{ .Scratch.Get "SearchBar.Input.Padding.X" }};
$search-bar-input-border-radius: {{ .Scratch.Get "SearchBar.Input.Border.Radius" }};
$search-bar-input-border-style: {{ .Scratch.Get "SearchBar.Input.Border.Style" }};
$search-bar-input-border-color: {{ .Scratch.Get "SearchBar.Input.Border.Color" }};
$search-bar-input-border-width: {{ .Scratch.Get "SearchBar.Input.Border.Width" }};
$search-bar-button-color: {{ .Scratch.Get "SearchBar.Button.Color" }};
$search-bar-button-padding-x: {{ .Scratch.Get "SearchBar.Button.Padding.X" }};
$search-bar-button-padding-y: {{ .Scratch.Get "SearchBar.Button.Padding.Y" }};

/// Results Overlay Values
$results-overlay-color: {{ .Scratch.Get "ResultsOverlay.Color" }};
$results-overlay-font-size: {{ .Scratch.Get "ResultsOverlay.Font.Size" }};
$results-overlay-bg-color: {{ .Scratch.Get "ResultsOverlay.BG.Color" }};
$results-overlay-header-color: {{ .Scratch.Get "ResultsOverlay.Header.Color" }};
$results-overlay-header-font-size: {{ .Scratch.Get "ResultsOverlay.Header.Font.Size" }};
$results-overlay-header-font-weight: {{ .Scratch.Get "ResultsOverlay.Header.Font.Weight" }};
$results-overlay-header-font-style: {{ .Scratch.Get "ResultsOverlay.Header.Font.Style" }};
$results-overlay-header-terms-color: {{ .Scratch.Get "ResultsOverlay.Header.Terms.Color" }};
$results-overlay-header-terms-font-size: {{ .Scratch.Get "ResultsOverlay.Header.Terms.Font.Size" }};
$results-overlay-header-terms-font-weight: {{ .Scratch.Get "ResultsOverlay.Header.Terms.Font.Weight" }};
$results-overlay-header-terms-font-style: {{ .Scratch.Get "ResultsOverlay.Header.Terms.Font.Style" }};
$results-overlay-link-color: {{ .Scratch.Get "ResultsOverlay.Link.Color" }};
$results-overlay-link-text-decoration: {{ .Scratch.Get "ResultsOverlay.Link.TextDecoration" }};
$results-overlay-link-hover-color: {{ .Scratch.Get "ResultsOverlay.Link.Hover.Color" }};
$results-overlay-link-hover-text-decoration: {{ .Scratch.Get "ResultsOverlay.Link.Hover.TextDecoration" }};
$results-overlay-item-title-color: {{ .Scratch.Get "ResultsOverlay.Item.Title.Color" }};
$results-overlay-item-title-text-decoration: {{ .Scratch.Get "ResultsOverlay.Item.Title.TextDecoration" }};
$results-overlay-item-title-hover-color: {{ .Scratch.Get "ResultsOverlay.Item.Title.Hover.Color" }};
$results-overlay-item-title-hover-text-decoration: {{ .Scratch.Get "ResultsOverlay.Item.Title.Hover.TextDecoration" }};
$results-overlay-item-title-font-size: {{ .Scratch.Get "ResultsOverlay.Item.Title.Font.Size" }};
$results-overlay-item-title-font-weight: {{ .Scratch.Get "ResultsOverlay.Item.Title.Font.Weight" }};
$results-overlay-item-title-font-style: {{ .Scratch.Get "ResultsOverlay.Item.Title.Font.Style" }};
$results-overlay-item-snippet-color: {{ .Scratch.Get "ResultsOverlay.Item.Snippet.Color" }};
$results-overlay-item-snippet-font-size: {{ .Scratch.Get "ResultsOverlay.Item.Snippet.Font.Size" }};
$results-overlay-item-snippet-font-weight: {{ .Scratch.Get "ResultsOverlay.Item.Snippet.Font.Weight" }};
$results-overlay-item-snippet-font-style: {{ .Scratch.Get "ResultsOverlay.Item.Snippet.Font.Style" }};

:root {
  

  /// Search Bar Values
  --pse-search-bar-input-height: #{$search-bar-input-height};
  --pse-search-bar-input-width: #{$search-bar-input-width};
  --pse-search-bar-input-color: #{$search-bar-input-color};
  --pse-search-bar-input-placeholder-color: #{$search-bar-input-placeholder-color};
  --pse-search-bar-input-transition-duration: #{$search-bar-input-transition-duration};
  --pse-search-bar-input-transition-timing-function: #{$search-bar-input-transition-timing-function};
  --pse-search-bar-input-padding-y: #{$search-bar-input-padding-y};
  --pse-search-bar-input-padding-x: #{$search-bar-input-padding-x};
  --pse-search-bar-input-border-radius: #{$search-bar-input-border-radius};
  --pse-search-bar-input-border-style: #{$search-bar-input-border-style};
  --pse-search-bar-input-border-color: #{$search-bar-input-border-color};
  --pse-search-bar-input-border-width: #{$search-bar-input-border-width};
  --pse-search-bar-button-color: #{$search-bar-button-color};
  --pse-search-bar-button-padding-x: #{$search-bar-button-padding-x};
  --pse-search-bar-button-padding-y: #{$search-bar-button-padding-y};
  
  /// Results Overlay Values
  --pse-results-overlay-color: #{$results-overlay-color};
  --pse-results-overlay-font-size: #{$results-overlay-font-size};
  --pse-results-overlay-bg-color: #{$results-overlay-bg-color};
  --pse-results-overlay-header-color: #{$results-overlay-header-color};
  --pse-results-overlay-header-font-size: #{$results-overlay-header-font-size};
  --pse-results-overlay-header-font-weight: #{$results-overlay-header-font-weight};
  --pse-results-overlay-header-font-style: #{$results-overlay-header-font-style};
  --pse-results-overlay-header-terms-color: #{$results-overlay-header-terms-color};
  --pse-results-overlay-header-terms-font-size: #{$results-overlay-header-terms-font-size};
  --pse-results-overlay-header-terms-font-weight: #{$results-overlay-header-terms-font-weight};
  --pse-results-overlay-header-terms-font-style: #{$results-overlay-header-terms-font-style};
  --pse-results-overlay-link-color: #{$results-overlay-link-color};
  --pse-results-overlay-link-text-decoration: #{$results-overlay-link-text-decoration};
  --pse-results-overlay-link-hover-color: #{$results-overlay-link-hover-color};
  --pse-results-overlay-link-hover-text-decoration: #{$results-overlay-link-hover-text-decoration};
  --pse-results-overlay-item-title-color: #{$results-overlay-item-title-color};
  --pse-results-overlay-item-title-text-decoration: #{$results-overlay-item-title-text-decoration};
  --pse-results-overlay-item-title-hover-color: #{$results-overlay-item-title-hover-color};
  --pse-results-overlay-item-title-hover-text-decoration: #{$results-overlay-item-title-hover-text-decoration};
  --pse-results-overlay-item-title-font-size: #{$results-overlay-item-title-font-size};
  --pse-results-overlay-item-title-font-weight: #{$results-overlay-item-title-font-weight};
  --pse-results-overlay-item-title-font-style: #{$results-overlay-item-title-font-style};
  --pse-results-overlay-item-snippet-color: #{$results-overlay-item-snippet-color};
  --pse-results-overlay-item-snippet-font-size: #{$results-overlay-item-snippet-font-size};
  --pse-results-overlay-item-snippet-font-weight: #{$results-overlay-item-snippet-font-weight};
  --pse-results-overlay-item-snippet-font-style: #{$results-overlay-item-snippet-font-style};

  
}

@import "search-bar";
@import "results-overlay";
