{{ $params := site.Params }}

{{ $config := site.Data.plugin_pse_config }}
{{ $config  = $config | default site.Data.plugin_pse.config }}

{{ $CX := index $params "plugin_pse.cx" }}
{{ $CX  = $CX | default $config.CX  }}

{{ $APIKey := index $params "plugin_pse.apikey"  }}
{{ $APIKey  = $APIKey | default $config.APIKey }}

{{ if (and $CX $APIKey) }}

<script src="https://apis.google.com/js/api.js"></script>

{{ $Fingerprint := index $params "plugin_pse.build.fingerprint" }}
{{ $Fingerprint  = $Fingerprint | default $config.Build.Fingerprint }}
{{ $Fingerprint  = $Fingerprint | default true }}

{{ $Minify := index $params "plugin_pse.build.minifyscript" }}
{{ $Minify  = $Minify | default $config.Build.MinifyScript }}
{{ $Minify  = $Minify | default false }}

{{/*
 
  parameters.js
  ids-class-names.js
  
  
  */}}

{{ $script_template := resources.Get "js/plugin_pse/programmable-search-engine.js" }}
{{ $script := $script_template | resources.ExecuteAsTemplate "assets/js/plugin_pse/programmable-search-engine.js" . }}

{{ if $Minify }}
{{ $script = $script | minify }}
{{ end }}

{{ if $Fingerprint }}
{{ $script = $script | fingerprint }}
{{ end }}

<script type="module" src="{{ $script.Permalink }}"></script>

{{- $SassOutput := index $params "plugin_pse.build.sassoutput" -}}
{{- $SassOutput  = $SassOutput | default $config.Build.SassOutput -}}
{{- $SassOutput  = $SassOutput | default "compressed" -}}

{{- $opts := dict "targetPath" "assets/css/plugin_pse/programmable-search-engine.css"  "outputStyle" $SassOutput -}}

{{- $style_template := resources.Get "sass/plugin_pse/programmable-search-engine.scss" -}}
{{- $style := $style_template | resources.ExecuteAsTemplate "sass/plugin_pse/programmable-search-engine.scss" . -}} 
{{- $style  = $style | toCSS $opts -}}

{{- if $Fingerprint -}}
{{- $style = $style | fingerprint -}}
{{- end -}}

<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ end }}